Source: virtual-dicom-printer
Section: contrib/misc
Priority: optional
Maintainer: Softus team <contact@softus.org>
Standards-Version: 3.2.1
Build-Depends: debhelper, qt5-default, libdcmtk2-dev, libxml2-dev,
  libqt5network5,  libtesseract-dev,  libleptonica-dev

Package: virtual-dicom-printer
Architecture: i386 amd64
Pre-Depends: debconf (>= 1.1) | debconf-2.0
Depends: ${shlibs:Depends}
Description: Virtual printer for DICOM.
  Works as a proxy and spooler for a real printer(s).
  Also, all prints may be archived in a DICOM storage server.
